

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566363159686808591.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566363159686808591.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-566363159686808591.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566363159686808591.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566363159686808591.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566363159686808591.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566363159686808591.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566363159686808591.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566363159686808591.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566363159686808591.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-566363159686808591.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566363159686808591.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566363159686808591.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-566363159686808591.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-566363159686808591.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566363159686808591.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-566363159686808591.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-566363159686808591.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-566363159686808591.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566363159686808591.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566363159686808591.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566363159686808591.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566363159686808591.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566363159686808591.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566363159686808591.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566363159686808591.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-566363159686808591.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566363159686808591.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566363159686808591.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566363159686808591.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-566363159686808591.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566363159686808591.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566363159686808591.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566363159686808591.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566363159686808591.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566363159686808591.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566363159686808591.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566363159686808591.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566363159686808591.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566363159686808591.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566363159686808591.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566363159686808591.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-566363159686808591.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566363159686808591.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-566363159686808591.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-566363159686808591.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566363159686808591.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566363159686808591.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566363159686808591.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566363159686808591.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566363159686808591.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566363159686808591.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566363159686808591.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566363159686808591.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566363159686808591.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566363159686808591.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566363159686808591.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566363159686808591.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566363159686808591.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566363159686808591.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566363159686808591.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566363159686808591.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566363159686808591.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566363159686808591.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566363159686808591.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566363159686808591.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566363159686808591 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-566363159686808591 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-566363159686808591 .gp-relative{position:relative}.gps-566363159686808591 .gp-z-1{z-index:1}.gps-566363159686808591 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566363159686808591 .gp-mb-0{margin-bottom:0}.gps-566363159686808591 .gp-flex{display:flex}.gps-566363159686808591 .gp-inline-flex{display:inline-flex}.gps-566363159686808591 .gp-grid{display:grid}.gps-566363159686808591 .\!gp-hidden{display:none!important}.gps-566363159686808591 .gp-hidden{display:none}.gps-566363159686808591 .gp-h-full{height:100%}.gps-566363159686808591 .gp-max-w-full{max-width:100%}.gps-566363159686808591 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566363159686808591 .gp-flex-col{flex-direction:column}.gps-566363159686808591 .gp-items-center{align-items:center}.gps-566363159686808591 .gp-justify-center{justify-content:center}.gps-566363159686808591 .gp-gap-y-0{row-gap:0}.gps-566363159686808591 .gp-overflow-hidden{overflow:hidden}.gps-566363159686808591 .gp-break-words{overflow-wrap:break-word}.gps-566363159686808591 .gp-rounded-none{border-radius:0}.gps-566363159686808591 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-566363159686808591 .gp-text-center{text-align:center}.gps-566363159686808591 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-566363159686808591 .gp-no-underline{text-decoration-line:none}.gps-566363159686808591 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566363159686808591 .gp-duration-200{transition-duration:.2s}.gps-566363159686808591 .gp-duration-300{transition-duration:.3s}.gps-566363159686808591 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566363159686808591 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-566363159686808591 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-566363159686808591 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-566363159686808591 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-566363159686808591 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-566363159686808591 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-566363159686808591 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-566363159686808591 .tablet\:\!gp-hidden{display:none!important}.gps-566363159686808591 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-566363159686808591 .mobile\:\!gp-hidden{display:none!important}.gps-566363159686808591 .mobile\:gp-hidden{display:none}}.gps-566363159686808591 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-566363159686808591 .\[\&_p\]\:gp-inline p{display:inline}.gps-566363159686808591 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-566363159686808591 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-566363159686808591 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gKoJgMz8oX" data-id="gKoJgMz8oX"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKoJgMz8oX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3w3Zr6Hbh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gJkavHXicg" data-id="gJkavHXicg"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:48px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJkavHXicg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjBPhioZo2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gl8qD6LwDT" data-id="gl8qD6LwDT"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:sticky;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pb-mobile:0px;--top:80px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl8qD6LwDT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLVZerWY9P gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g25h41ACdN">
    <div
      parentTag="Col"
        class="g25h41ACdN "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pos:static;--mb:0px;--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg25h41ACdN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw7KCLzgne">
    <div
      parentTag="Col"
        class="gw7KCLzgne "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggw7KCLzgne_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYhUs4SRMD">
    <div
      parentTag="Col"
        class="gYhUs4SRMD "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYhUs4SRMD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmMKcXjw1V">
    <div
      parentTag="Col"
        class="gmMKcXjw1V "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggmMKcXjw1V_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYmb63HEh3">
    <div
      parentTag="Col"
        class="gYmb63HEh3 "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYmb63HEh3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCKGSZyRn6">
    <div
      parentTag="Col"
        class="gCKGSZyRn6 "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggCKGSZyRn6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gi3MncfvLm">
    <div
      parentTag="Col"
        class="gi3MncfvLm "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggi3MncfvLm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gD8ildFoPs">
    <div
      parentTag="Col"
        class="gD8ildFoPs "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggD8ildFoPs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gb0s6n8EF0">
    <div
      parentTag="Col"
        class="gb0s6n8EF0 "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggb0s6n8EF0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZP4DMWRw2">
    <div
      parentTag="Col"
        class="gZP4DMWRw2 "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZP4DMWRw2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0irNLLjPW">
    <div
      parentTag="Col"
        class="g0irNLLjPW "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0irNLLjPW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6EffGSV49 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gmizhVUwNw" data-id="gmizhVUwNw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmizhVUwNw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2-KOIEaCB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghu2xJFGkU">
    <div
      parentTag="Col"
        class="ghu2xJFGkU "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghu2xJFGkU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEbve9q_0-">
    <div
      parentTag="Col"
        class="gEbve9q_0- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEbve9q_0-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbwO96md1m">
    <div
      parentTag="Col"
        class="gbwO96md1m "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbwO96md1m_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g7E8aHDcZZ" data-id="g7E8aHDcZZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7E8aHDcZZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ1CUJo47U gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4-0vfBEuT">
    <div
      parentTag="Col"
        class="g4-0vfBEuT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4-0vfBEuT_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIE8vmiVho">
    <div
      parentTag="Col"
        class="gIE8vmiVho "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIE8vmiVho_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g5R1i_VTR9" data-id="g5R1i_VTR9"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5R1i_VTR9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtw_YqGdkK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcagS6CzsE">
    <div
      parentTag="Col"
        class="gcagS6CzsE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcagS6CzsE_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqHSoL1p2z">
    <div
      parentTag="Col"
        class="gqHSoL1p2z "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqHSoL1p2z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gzRC-6P2nQ" data-id="gzRC-6P2nQ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzRC-6P2nQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMB2-GWd-O gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRMst5l1Vh">
    <div
      parentTag="Col"
        class="gRMst5l1Vh "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRMst5l1Vh_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWL_JfcnoZ">
    <div
      parentTag="Col"
        class="gWL_JfcnoZ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWL_JfcnoZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gdkBEzNSaH" data-id="gdkBEzNSaH"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdkBEzNSaH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaCs_RF7sL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glXqUpOXqB">
    <div
      parentTag="Col"
        class="glXqUpOXqB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglXqUpOXqB_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEd2elBJ2V">
    <div
      parentTag="Col"
        class="gEd2elBJ2V "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEd2elBJ2V_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gIWnGeFhTd" data-id="gIWnGeFhTd"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIWnGeFhTd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2SBcFUJvA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="geWziCgwrW">
    <div
      parentTag="Col"
        class="geWziCgwrW "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggeWziCgwrW_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXAYIOKZyo">
    <div
      parentTag="Col"
        class="gXAYIOKZyo "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXAYIOKZyo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gDuor9N9Vq" data-id="gDuor9N9Vq"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDuor9N9Vq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glbgKaDhX9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWo9cWdHoU">
    <div
      parentTag="Col"
        class="gWo9cWdHoU "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWo9cWdHoU_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDzzum3DHJ">
    <div
      parentTag="Col"
        class="gDzzum3DHJ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDzzum3DHJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gC1yNzNYfB" data-id="gC1yNzNYfB"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gC1yNzNYfB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwVmltDdy3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ge0a1ZIczx">
    <div
      parentTag="Col"
        class="ge0a1ZIczx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gge0a1ZIczx_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gh-_0Y1SPD">
    <div
      parentTag="Col"
        class="gh-_0Y1SPD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggh-_0Y1SPD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gy4mEbVg-R" data-id="gy4mEbVg-R"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gy4mEbVg-R gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtLEVDgioy gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gK-vQYOakk">
    <div
      parentTag="Col"
        class="gK-vQYOakk "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggK-vQYOakk_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggF8GWKOv2">
    <div
      parentTag="Col"
        class="ggF8GWKOv2 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggF8GWKOv2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gAQub1VwRm" data-id="gAQub1VwRm"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAQub1VwRm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR7kGa6__E gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDZmET4vn5">
    <div
      parentTag="Col"
        class="gDZmET4vn5 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDZmET4vn5_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gR2TkNhLvr">
    <div
      parentTag="Col"
        class="gR2TkNhLvr "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggR2TkNhLvr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjs-gaBE4Z">
    <div
      parentTag="Col"
        class="gjs-gaBE4Z "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjs-gaBE4Z_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCkrOlIU3s">
    <div
      parentTag="Col"
        class="gCkrOlIU3s "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggCkrOlIU3s_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gKOT1IcWMZ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gKOT1IcWMZ:hover::before {
      
      
    }

    .gKOT1IcWMZ:hover .gp-button-icon {
      color: undefined;
    }

     .gKOT1IcWMZ .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gKOT1IcWMZ:hover .gp-button-price {
      color: undefined;
    }

    .gKOT1IcWMZ .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gKOT1IcWMZ .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gKOT1IcWMZ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/inti-solar-electric-car" target="_self" data-id="gKOT1IcWMZ" aria-label="<p>Back to INTI Reservation Page</p>"
      
      data-state="idle"
      class="gKOT1IcWMZ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-bg-g-brand gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggKOT1IcWMZ_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-566363159686808591 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eaccc0-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=566363159619699727&sectionId=566363159686808591)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg25h41ACdN_text","label":"gg25h41ACdN_text","default":"<p>1. Reservation</p>"},{"type":"html","id":"ggw7KCLzgne_text","label":"ggw7KCLzgne_text","default":"<p>2. Eligibility</p>"},{"type":"html","id":"ggYhUs4SRMD_text","label":"ggYhUs4SRMD_text","default":"<p>3. Reservation Fee</p>"},{"type":"html","id":"ggmMKcXjw1V_text","label":"ggmMKcXjw1V_text","default":"<p>4. Pricing and Vehicle Specifications</p>"},{"type":"html","id":"ggYmb63HEh3_text","label":"ggYmb63HEh3_text","default":"<p>5. Order Process and Delivery</p>"},{"type":"html","id":"ggCKGSZyRn6_text","label":"ggCKGSZyRn6_text","default":"<p>6. Cancellations/No Resellers</p>"},{"type":"html","id":"ggi3MncfvLm_text","label":"ggi3MncfvLm_text","default":"<p>7. Privacy Policy and Terms of Use</p>"},{"type":"html","id":"ggD8ildFoPs_text","label":"ggD8ildFoPs_text","default":"<p>8. Limitation of liability</p>"},{"type":"html","id":"ggb0s6n8EF0_text","label":"ggb0s6n8EF0_text","default":"<p>9. No Assignment</p>"},{"type":"html","id":"ggZP4DMWRw2_text","label":"ggZP4DMWRw2_text","default":"<p>10. Dispute Resolution</p>"},{"type":"html","id":"gg0irNLLjPW_text","label":"gg0irNLLjPW_text","default":"<p>11. Governing Law</p>"},{"type":"html","id":"gghu2xJFGkU_text","label":"gghu2xJFGkU_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:12pt;\"><strong>PLEASE READ THIS AGREEMENT CAREFULLY. IT CONTAINS AN ARBITRATION AGREEMENT (SECTION 10) AND AFFECTS YOUR AND STSs RIGHTS, INCLUDING A JURY TRIAL WAIVER AND CLASS ACTION WAIVER.</strong></span></p><p>&nbsp;</p><p><span style=\"color:rgb(0,0,0);font-size:12pt;\">This Reservation Agreement (these Terms or Agreement) governs the placing of a reservation (Reservation) with <strong>Solar Transport Systems Inc.</strong> (<strong>STS</strong>) for an <strong>INTI low-speed electric vehicle</strong> (the <strong>Vehicle</strong>). Please carefully read this Agreement before submitting your Reservation.</span></p>"},{"type":"html","id":"ggEbve9q_0-_text","label":"ggEbve9q_0-_text","default":"1. Reservation"},{"type":"html","id":"ggbwO96md1m_text","label":"ggbwO96md1m_text","default":"<p>By submitting your Reservation and paying the fully refundable Reservation Fee, you are <strong>reserving the future opportunity to purchase an INTI Vehicle</strong> when one becomes available. <strong>This is not a purchase contract.</strong> You are under <strong>no obligation to purchase</strong> a Vehicle, and STS is under <strong>no obligation to sell</strong> you a Vehicle, until a definitive sales contract is signed. The INTI Vehicle is currently in pre-production, and customer deliveries are not expected to begin until STS obtains all required regulatory approvals and commences production.</p>"},{"type":"html","id":"gg4-0vfBEuT_text","label":"gg4-0vfBEuT_text","default":"2. Eligibility"},{"type":"html","id":"ggIE8vmiVho_text","label":"ggIE8vmiVho_text","default":"<p>In order to place a Reservation and enter into this Agreement, you must be at least 18 years old (or the legal age of majority in your state, if higher) and reside in the United States. By making a Reservation, you represent that you meet these eligibility requirements.</p>"},{"type":"html","id":"ggcagS6CzsE_text","label":"ggcagS6CzsE_text","default":"3. Reservation Fee"},{"type":"html","id":"ggqHSoL1p2z_text","label":"ggqHSoL1p2z_text","default":"<p>You will be charged a <strong>fully refundable one-time fee of $100.00 USD</strong> (the Reservation Fee) when you place your INTI Reservation. Payment of the Reservation Fee reserves your spot in line for a future INTI Vehicle. <strong>The Reservation Fee is not a deposit toward the purchase price of a specific Vehicle, and it does </strong><i><strong>not</strong></i><strong> lock in any final purchase terms.</strong> STS will hold your Reservation Fee separate from any operating funds, and <strong>you may request a refund of the Reservation Fee at any time</strong> before entering a purchase agreement (see Section 6 below).</p>"},{"type":"html","id":"ggRMst5l1Vh_text","label":"ggRMst5l1Vh_text","default":"4. Pricing and Vehicle Specifications"},{"type":"html","id":"ggWL_JfcnoZ_text","label":"ggWL_JfcnoZ_text","default":"<p>The INTI Vehicle is in a pre-production phase. Any <strong>pricing, specifications, and features</strong> communicated by STS (including estimated battery range, options, and accessories) are <strong>preliminary and subject to change</strong>. <strong>No final price is set by this Reservation.</strong> Any price or configuration information provided now is an estimate and <strong>does not constitute a firm offer</strong> or agreement to sell. Final pricing, specifications, and options will be confirmed if you later decide to proceed with an actual purchase and execute a separate vehicle purchase agreement.</p>"},{"type":"html","id":"gglXqUpOXqB_text","label":"gglXqUpOXqB_text","default":"5. Order Process and Delivery"},{"type":"html","id":"ggEd2elBJ2V_text","label":"ggEd2elBJ2V_text","default":"<p>When STS approaches the start of INTI production, we will notify you and invite you to <strong>configure your Vehicle and place a formal order</strong>, in accordance with your reservation priority and other factors (e.g. production schedule and delivery region). To <strong>complete the purchase</strong> of an INTI Vehicle at that time, you will need to <strong>enter into STSs standard purchase agreement</strong>, which will include additional terms (such as the final price, taxes, title, and delivery conditions). <strong>Until such purchase agreement is signed by both you and STS, you have no obligation to buy, and STS has no obligation to deliver, a Vehicle.</strong> Further details about the ordering and delivery process will be provided when you are invited to place an order. Delivery priority for the Vehicle will generally be based on the date of your completed order, the date of final sales contract execution, STSs manufacturing schedule, and the delivery location/method you select. Please note that any <strong>estimated delivery timelines are non-binding</strong> and for informational purposes only. If you <strong>do proceed to purchase</strong> a Vehicle, your $100 Reservation Fee will be applied as a credit <strong>toward the purchase price</strong> at the time of final payment (or refunded if you prefer, or if required by law).</p>"},{"type":"html","id":"ggeWziCgwrW_text","label":"ggeWziCgwrW_text","default":"6. Cancellations/No Resellers"},{"type":"html","id":"ggXAYIOKZyo_text","label":"ggXAYIOKZyo_text","default":"<p>You may <strong>cancel your Reservation at any time</strong> <strong>before</strong> you place a final order. If you cancel (or if you fail to proceed with a purchase when invited), you will receive a <strong>full refund</strong> of your $100 Reservation Fee. You can cancel via your online STS account or by contacting STS through the IntiSolarCar.com website. Upon cancellation, STS will credit the Reservation Fee back to the original payment method you used. STSs business model is to sell Vehicles <strong>directly to end-consumers</strong>  by placing a Reservation, you represent that you are reserving an INTI Vehicle for <strong>your own personal or business use</strong> and <strong>not for resale or export</strong>. STS may, at its discretion, <strong>cancel your Reservation</strong> and refund the Reservation Fee if we believe you are reserving with the intent to resell or otherwise violate this <i>no-resellers</i> policy. (For example, Reservations placed by car brokers or individuals attempting to secure multiple vehicles for resale may be declined.) STS will not accept any dealer/reseller license exemption or resale certificates for the purchase of INTI Vehicles. We also reserve the right to decline or cancel any Reservation <strong>for any reason</strong> prior to a completed purchase, in which case we will refund your Reservation Fee in full.</p>"},{"type":"html","id":"ggWo9cWdHoU_text","label":"ggWo9cWdHoU_text","default":"7. Privacy Policy and Terms of Use"},{"type":"html","id":"ggDzzum3DHJ_text","label":"ggDzzum3DHJ_text","default":"<p>The personal information you provide to STS in connection with your Reservation will be used in accordance with our <strong>Privacy Policy</strong> and <strong>Website Terms of Use</strong>, each of which is available on our website (IntiSolarCar.com) and incorporated into this Agreement by reference. By entering this Agreement, you acknowledge that you have read and understand those policies. For example, we will use your contact information to send you updates about the INTI Vehicle, your Reservation status, and the ordering process, and as otherwise permitted by our Privacy Policy.</p>"},{"type":"html","id":"gge0a1ZIczx_text","label":"gge0a1ZIczx_text","default":"8. Limitation of liability"},{"type":"html","id":"ggh-_0Y1SPD_text","label":"ggh-_0Y1SPD_text","default":"<p><strong>TO THE FULLEST EXTENT PERMITTED BY LAW, STS (AND ITS OFFICERS, EMPLOYEES, AND AFFILIATES) SHALL NOT BE LIABLE FOR ANY SPECIAL, CONSEQUENTIAL, PUNITIVE, INDIRECT, OR INCIDENTAL DAMAGES OF ANY KIND</strong> ARISING OUT OF OR RELATED TO THIS AGREEMENT OR YOUR INTI RESERVATION. This limitation covers any loss of profits, loss of business opportunities, or similar damages, whether based in contract, tort, or otherwise. <strong>Your sole and exclusive remedy under this Agreement</strong> for any claim or dispute (including any claim of delay, non-delivery, or refund issue) shall be <strong>limited to a refund of your $100 Reservation Fee.</strong> In no event will STSs aggregate liability to you exceed the amount of the Reservation Fee you paid.</p>"},{"type":"html","id":"ggK-vQYOakk_text","label":"ggK-vQYOakk_text","default":"9. No Assignment"},{"type":"html","id":"gggF8GWKOv2_text","label":"gggF8GWKOv2_text","default":"<p><span style=\"font-size:12.0pt;\">You may <strong>not assign or transfer</strong> your rights or obligations under this Reservation Agreement to any other party without STSs prior written consent. Any attempt to transfer your reservation (or any rights in a reserved Vehicle) to a third party without approval will be null and void. This Agreement is personal to you as the reserver; similarly, STS may assign this Agreement only to an affiliate or in connection with a merger, acquisition, or sale of substantially all of its assets.</span></p>"},{"type":"html","id":"ggDZmET4vn5_text","label":"ggDZmET4vn5_text","default":"10. Dispute Resolution (Arbitration and Class action waiver)"},{"type":"html","id":"ggR2TkNhLvr_text","label":"ggR2TkNhLvr_text","default":"<p><strong>PLEASE READ THIS SECTION CAREFULLY</strong>  it affects your rights. In the event of any dispute or claim arising out of or relating to this Agreement or your Reservation (a Dispute), you and STS agree to try in good faith to resolve the Dispute informally first. If either party has a Dispute, they shall send written notice to the other party describing the issue and the desired resolution. You can send any dispute notice to STS at <strong>disputes@intisolarcar.com</strong>. If we are unable to resolve the Dispute within 60 days of the notice, <strong>you and STS mutually agree that any unresolved Dispute shall be resolved by binding arbitration on an individual basis.</strong> <strong>By agreeing to arbitration, you and STS are waiving the right to a court trial and to have the Dispute decided by a judge or jury.</strong> Rather, the Dispute will be decided by a <strong>neutral arbitrator</strong> in accordance with the rules of the American Arbitration Association (AAA). <strong>You and STS agree not to bring or participate in any class action or other representative proceeding</strong> in relation to the Dispute  arbitration will be <strong>conducted only on an individual, case-by-case basis.</strong> The arbitrator may not consolidate or hear multiple persons claims in one proceeding without the consent of all parties.</p><ul><li><strong>Arbitration Procedure.</strong> Unless you and STS agree otherwise, the arbitration will be administered by the AAA under its <strong>Consumer Arbitration Rules</strong> (available at www.adr.org/consumer). You may choose for the arbitration to be conducted <strong>by telephone, by video conference,</strong> or <strong>in-person</strong> in the county where you reside (or another mutually agreeable location). STS will <strong>reimburse your AAA filing fee</strong> and <strong>pay the arbitrators fees</strong> for any non-frivolous claim (as defined by applicable law or AAA rules). The arbitrator will have authority to award the same individual remedies that a court could (including injunctive relief or statutory damages, if warranted by law) and must follow the terms of this Agreement. The arbitrators decision will be <strong>binding</strong> on both parties, and judgment on the award may be entered in any court with jurisdiction. Court review of an arbitration award is limited by the Federal Arbitration Act.</li><li><strong>Class Action Waiver.</strong> <strong>You and STS each agree that any Dispute will be resolved only on an individual basis</strong> and not as part of a class, collective, or representative action. This means <strong>you cannot bring a claim as a plaintiff or class member in a class action, consolidated action, or private attorney general action</strong> arising out of or relating to this Agreement or your Reservation. If a court or arbitrator determines that this class action waiver is unenforceable with respect to a particular claim, then the entirety of this <strong>Dispute Resolution</strong> section (Section 10) shall be null and void as to that claim, and the claim may proceed in court.</li><li><strong>Exceptions.</strong> Notwithstanding the above, either you or STS <strong>may bring an individual action in small claims court</strong> for disputes or claims within that courts jurisdiction, <strong>and either party may seek injunctive relief in a court of competent jurisdiction</strong> to protect its intellectual property or confidential information. <strong>Opt-Out Right:</strong> If you do not wish to be bound by this arbitration and class waiver clause, you may opt out by sending an email to <strong>optout@intisolarcar.com</strong> within 60 days of submitting your Reservation. Your opt-out email must be sent from the same email address associated with your Reservation and include your name and a clear statement that you opt out of the arbitration agreement. If you opt out, you will not be bound by this Section 10, but the rest of this Agreement will continue to apply. Opting out of this arbitration provision will have no effect on your Reservation or any purchase rights.</li></ul>"},{"type":"html","id":"ggjs-gaBE4Z_text","label":"ggjs-gaBE4Z_text","default":"11. Governing Law"},{"type":"html","id":"ggCkrOlIU3s_text","label":"ggCkrOlIU3s_text","default":"<p><span style=\"font-size:12.0pt;\">This Agreement and any disputes or claims arising out of or related to this Agreement or your INTI Reservation shall be <strong>governed by the laws of the State of Florida</strong>, <strong>without regard to its conflict of laws principles</strong>. By entering into this Agreement, you acknowledge that Florida has a substantial interest in the resolution of any disputes, given that STS is a Florida corporation and the INTI vehicles are intended to be sold in Florida. (If you reside outside Florida, any applicable consumer protection or lemon laws of your state of residence will apply to the subsequent purchase agreement, but this Reservation Agreement itself is governed by Florida law.)</span></p><ul><li><strong>Acknowledgment.</strong> By submitting your INTI Reservation, you indicate that you have read and agree to these Reservation Terms. <strong>You understand that this Agreement is not a vehicle purchase contract, and that either party may cancel the reservation as described above prior to entering a purchase agreement.</strong> These Terms constitute the entire agreement between you and STS regarding your INTI Reservation and supersede all prior communications on this subject. Any amendments or modifications must be in writing and signed by an authorized representative of STS.</li></ul>"},{"type":"html","id":"ggKOT1IcWMZ_label","label":"ggKOT1IcWMZ_label","default":"<p>Back to INTI Reservation Page</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
