<style>.product-header_add-to-cart-wrapper {
    display: flex;
     flex-direction: column;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem
  }
  .is-product-thumbnail {
    width: 5rem;
     height: 5rem
  }
  .product-header_shipping-wrapper {
    display: flex;
     padding-top: 1.5rem;
     padding-bottom: 1.5rem;
     flex-direction: column;
     flex-wrap: nowrap;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: hsla(0, 0.00%, 0.00%, 0.08);
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: hsla(0, 0.00%, 0.00%, 0.08)
  }
  .product-header_gallery-image {
    width: 100%;
     height: 40rem;
     padding-top: 1rem;
     padding-right: 1rem;
     padding-bottom: 1rem;
     padding-left: 1rem;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: #ccc;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: #ccc;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: #ccc;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: #ccc;
     border-top-left-radius: 0.5rem;
     border-top-right-radius: 0.5rem;
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     background-color: #eee;
     object-fit: contain;
     object-position: 50% 50%}
  @media screen and (max-width: 479px) {
    .product-header_gallery-image {
      height: 22rem
    }
  }
  .section_product-header {
    position: relative
  }
  .text-size-large {
    font-size: 1.5rem
  }
  @media screen and (max-width: 767px) {
    .text-size-large {
      font-size: 1.25rem
    }
  }
  .pointer-events-on {
    left: -1.5rem
  }
  @media screen and (max-width: 479px) {
    .pointer-events-on {
      width: 2.5rem;
       height: 2.5em
    }
  }
  .swiper_button-wrapper {
    display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     align-items: center;
     grid-column-gap: 0.75rem;
     grid-row-gap: 0.75rem
  }
  .swiper_button {
    position: relative;
     display: flex;
     width: 3rem;
     height: 3rem;
     justify-content: center;
     align-items: center;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: #eee;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: #eee;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: #eee;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: #eee;
     border-top-left-radius: 100vw;
     border-top-right-radius: 100vw;
     border-bottom-left-radius: 100vw;
     border-bottom-right-radius: 100vw;
     background-color: hsla(0, 0.00%, 100.00%, 1.00);
     transition-property: color, background-color;
     transition-duration: 200ms, 200ms;
     transition-timing-function: ease, ease;
     text-align: center
  }
  .swiper_button:hover {
    color: hsla(0, 0.00%, 12.16%, 1.00)
  }
  .pointer-events-on {
    right: -1.5rem
  }
  @media screen and (max-width: 479px) {
    .pointer-events-on {
      width: 2.5rem;
       height: 2.5rem
    }
  }
  .product-header_slider-wrapper {
    position: relative;
     margin-top: 1rem
  }
  .swiper-wrapper {
    display: flex;
     align-items: flex-start
  }
  .product-header_radio-button {
    position: absolute;
     left: 0%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     width: auto;
     height: auto;
     margin-top: 0px;
     margin-left: 0px;
     border-top-width: 0px;
     border-top-color: black;
     border-right-width: 0px;
     border-right-color: black;
     border-bottom-width: 0px;
     border-bottom-color: black;
     border-left-width: 0px;
     border-left-color: black;
     border-top-left-radius: 0%;
     border-top-right-radius: 0%;
     border-bottom-left-radius: 0%;
     border-bottom-right-radius: 0%}
  .product-header_radio-button.main_redirected-checked {
    border-top-width: 1px;
     border-top-color: black;
     border-right-width: 1px;
     border-right-color: black;
     border-bottom-width: 1px;
     border-bottom-color: black;
     border-left-width: 1px;
     border-left-color: black
  }
  .is-product-thumbnail {
    width: 100%}
  .product-header_radio-list {
    display: flex;
     flex-wrap: wrap;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem
  }
  .pointer-events-off {
    border-top-color: #ccc;
     border-right-color: #ccc;
     border-bottom-color: #ccc;
     border-left-color: #ccc
  }
  .product-header_option-list {
    display: flex;
     flex-direction: column;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem
  }
  .container-large {
    width: 100%;
     max-width: 85rem;
     margin-right: auto;
     margin-left: auto
  }
  .is-product-gallery {
    position: sticky;
     top: 6rem;
     width: 100%;
     height: auto;
     min-width: 100%}
  .is-product-gallery.medium {
    position: static;
     padding-right: 0rem
  }
  .is-product-gallery {
    overflow: hidden;
     height: auto;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%}
  .text-size-regular {
    font-size: 1rem
  }
  .is-product-slider {
    position: absolute;
     left: 0%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     justify-content: space-between
  }
  .product_thumbnail-image {
    display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: #ccc;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: #ccc;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: #ccc;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: #ccc;
     border-top-left-radius: 0.5rem;
     border-top-right-radius: 0.5rem;
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     background-color: #eee;
     cursor: pointer
  }
  .is-active {
    border-top-style: solid;
     border-top-width: 1px;
     border-top-color: #9b9b9b;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: #9b9b9b;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: #9b9b9b;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: #9b9b9b
  }
  .product-header_radio {
    position: relative;
     padding-top: 0.4rem;
     padding-right: 1rem;
     padding-bottom: 0.3rem;
     padding-left: 1rem;
     border-top-left-radius: 0.5rem;
     border-top-right-radius: 0.5rem;
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     background-color: #eee;
     font-weight: 600
  }
  .product-header_radio.medium {
    background-color: white
  }
  .heading-style-h2 {
    font-size: 2.5rem;
     line-height: 1;
     font-weight: 600
  }
  @media screen and (max-width: 767px) {
    .heading-style-h2 {
      font-size: 2rem
    }
  }
  @media screen and (max-width: 479px) {
    .heading-style-h2 {
      font-size: 2rem
    }
  }
  .product-header_gallery-lightbox {
    width: 100%;
     height: 100%}
  .is-product-gallery {
    width: 100%}
  .product-header_layout {
    display: grid;
     justify-items: stretch;
     align-items: start;
     grid-auto-columns: 1fr;
     grid-column-gap: 0px;
     grid-row-gap: 0px;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto
  }
  @media screen and (max-width: 479px) {
    .product-header_layout {
      grid-template-columns: 1fr
    }
  }
  .product-header_layout.medium {
    min-height: auto;
     grid-auto-flow: row;
     grid-column-gap: 5rem;
     grid-row-gap: 2.5rem;
     grid-template-columns: 1fr
  }
  @media screen and (max-width: 767px) {
    .product-header_layout {
      grid-column-gap: 5rem;
       grid-row-gap: 2rem
    }
  }
  .swiper_button-icon {
    width: 30%;
     height: 55%;
     color: hsla(60, 3.57%, 10.98%, 1.00)
  }
  .swiper-container {
    height: 100%}
  .product-header_price-wrapper {
    position: relative;
     display: flex;
     align-items: center;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem
  }
  .is-product-gallery {
    height: auto
  }
  .is-product-gallery.medium {
    width: 100%}
  .product-header_benefits-bullet {
    display: grid;
     grid-auto-columns: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto
  }
  .hide {
    display: none;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%}
  .swiper-slide {
    height: 100%;
     max-width: 100%;
     margin-bottom: 0rem;
     flex-grow: 0;
     flex-shrink: 0;
     flex-basis: auto
  }
  .is-reversed {
    transform: rotate(-180deg)
  }
  .button {
    padding-top: 0.75rem;
     padding-right: 1.5rem;
     padding-bottom: 0.75rem;
     padding-left: 1.5rem;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: black;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: black;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: black;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: black;
     border-top-left-radius: 0.5rem;
     border-top-right-radius: 0.5rem;
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     background-color: black;
     color: white;
     font-weight: 400;
     text-align: center;
     white-space: nowrap
  }
  .product-header_default-state {
    display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     grid-column-gap: 1.5rem;
     grid-row-gap: 1.5rem
  }
  .product-header_buy-wrappper {
    display: flex;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem
  }
  .is-secondary {
    border-top-style: solid;
     border-top-width: 1px;
     border-top-color: black;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: black;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: black;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: black;
     background-color: transparent;
     color: hsla(0, 0.00%, 0.00%, 1.00)
  }
  .padding-global {
    padding-right: 2.5rem;
     padding-left: 2.5rem
  }
  @media screen and (max-width: 767px) {
    .padding-global {
      padding-right: 1.25rem;
       padding-left: 1.25rem
    }
  }
  .product-header_product-details {
    display: flex;
     padding-top: 3rem;
     padding-bottom: 3rem;
     padding-left: 5rem;
     flex-direction: column;
     flex-wrap: nowrap;
     grid-column-gap: 1.5rem;
     grid-row-gap: 1.5rem
  }
  .product-header_product-details.medium {
    padding-left: 0rem
  }
  @media screen and (max-width: 479px) {
    .product-header_product-details {
      padding-top: 0rem;
       padding-bottom: 0rem
    }
  }
  @media screen and (max-width: 767px) {
    .product-header_product-details {
      padding-top: 0rem
    }
  }
  .is-product-thumbnail {
    position: relative;
     overflow: hidden;
     height: 5rem
  }
</style><div class="padding-global padding-section-small"><div class="container-large"><div class="product-header_component"><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div class="product-header_layout" li-element="product-variant-container" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div class="swiper-container is-product-gallery"><div class="swiper is-product-gallery"><div class="swiper-wrapper is-product-gallery" id="my-gallery">{% for image in product.images %}    <div class="swiper-slide is-product-gallery" li-for="image in product.images">
                                    
                            <div class="product-header_gallery-lightbox"><img class="product-header_gallery-image" width="auto" height="auto" alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'master' }}" loading="lazy" li-object:src="image.src | product_img_url: 'master'" li-object:alt="image.alt" data-dyn-bind="[object Object]">
</div>
                            
                        </div>
{% endfor %}</div></div><div class="product-header_slider-wrapper"><div class="swiper_button-wrapper is-product-slider pointer-events-off z-index-1 hide-mobile-landscape"><a class="swiper_button swiper-prev pointer-events-on" aria-label="Previous Slide"><div class="swiper_button-icon is-reversed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></a><a class="swiper_button swiper-next pointer-events-on" aria-label="Next Slide"><div class="swiper_button-icon"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></a></div><div class="swiper is-product-thumbnail"><div class="swiper-wrapper is-product-thumbnail">{% for image in product.images %}    <div class="swiper-slide is-product-thumbnail" li-for="image in product.images">
                                    
                            <img class="product_thumbnail-image" width="auto" height="auto" alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'master' }}" loading="lazy" li-object:src="image.src | product_img_url: 'master'" li-object:alt="image.alt" data-dyn-bind="[object Object]">

                            
                        </div>
{% endfor %}</div></div></div><div class="swiper-slide is-product-thumbnail is-active hide"></div></div><div class="product-header_product-details"><h1 class="heading-style-h2" li-object:text="product.title">
{{ product.title }}
</h1><div class="product-header_price-wrapper"><div class="text-size-large text-weight-bold" li-js-price="price" x-text="LiquifyHelper.moneyFormat(price, true, '{{ shop.money_with_currency_format }}')">$55
              </div></div><div class="product-header_shipping-wrapper"><div class="product-header_benefits-bullet"></div></div><div class="product-header_form-block">{% form 'product', product, class: 'product-header_default-state' %}
{% if product.has_only_default_variant != true %}    <div class="product-header_option-list" li-if="product.has_only_default_variant != true">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div class="product-header_option" li-element="product-options-loop" data-ProductVariantsLoop="true"><div li-element="product-options-name" x-text="option">Select body color:
                    </div><div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <div class="product-header_radio" li-element="product-option-loop"><input class="product-header_radio-button" type="radio" li-element="product-option-input" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'">
<label class="text-size-regular text-weight-semibold" li-element="product-option-name" x-text="variantName" :for="variantName">XS
                        </label></div></template>
</div></div></template>
    </div>
{% endif %}<div class="product-header_add-to-cart-wrapper"><template x-if="selected_or_first_available_variant.available">
            <div class="product-header_buy-wrappper" li-js-if="selected_or_first_available_variant.available">
        <a class="button max-width-full" li-element="add-to-cart" @click="addToCart($event, true)" :disabled="!addToCartButton">Reserve your INTI FE
                    </a>        </div>
    </template>
<template x-if="!selected_or_first_available_variant.available">
            <div class="product-header_out-of-stock" li-js-if="!selected_or_first_available_variant.available">
        <a class="button is-secondary max-width-full pointer-events-off">Not in Stock
                    </a>        </div>
    </template>
</div>{% endform %}
<div class="hide"><div>Thank you! Your submission has been received!
                </div></div><div class="hide"><div>Oops! Something went wrong while submitting the form.
                </div></div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Product-Hero","class":"section_product-header","presets":[{"name":"Product-Hero","category":"Liquify","blocks":[]}]} {% endschema %}